joblib==1.5.1
neo4j==5.25.0
networkx==3.4.2
numpy==1.26.4
pandas==2.2.3
scikit-learn==1.6.1
scipy==1.15.3
sqlparse==0.5.3
sqlparser==0.0.9
torch==2.2.2
torch-geometric==2.6.1
torchvision==0.17.2
tqdm==4.67.1
sympy==1.14.0
mpmath==1.3.0
pyparsing==3.2.3
psycopg2-binary==2.9.9